@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/google-sans');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}

.container{
    background-image: url(images/Background\ hero.png);
    height: 650px;
    background-size: cover;
    background-position: center;

}

header{
    width: 100%;
    display: flex;
    padding: 20px 200px 10px;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}
.navigation a{   
    color: #f7faff;
    text-decoration: none;;
    padding-left: 30px;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
}

.navigation .go{
    padding-left: 0px;
}

.navigation a:hover{
    color: rgb(108, 116, 185);
}

header  .navigation .menu {
    color: #000000;
    font-size: 22px;
}

@media(min-width:1150px){

header  .navigation .menu {
    display: none;
}
}

@media(max-width:1150px){

    header .navigation a{
        display: none;
    }

}

/*section-1*/

.section-1{
    padding: 100px 200px;
}

.section-1 span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    
    color: #F7F2F2;
    display: block;
    padding-bottom: 20px;
}

.section-1 p{
    color: white;
}

.section-1 .btn-1{
    border-radius: 6px;
    width: 193px;
    height: 63px;
    left: 424px;
    top: 380px;
    background: #DF5151;
    border: none;
    font-size: 13px;
    font-weight: 900;
}

.images{
    position: absolute;
    margin: auto;
    top: 498px;
    left: 15%;
}

.images img{
    margin-right: 40px;
    width: 255px;
}

.images img:hover{
    transform: scale(1.1);
    transition: all ease .35s;
    -webkit-transition: all ease .35s;
    -moz-transition: all ease .35s;
    -ms-transition: all ease .35s;
    -o-transition: all ease .35s;
}
/*section-2*/
.section-2 h3{
    margin-top:  64px;
    margin-bottom: 10px;
    margin-left: 45px;
    font-weight: 600;
    font-size: 30px;
    line-height: 54px;
    text-align: center;
    text-shadow: 2px 2px lightgray;
}

.section-2 p{
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 25px;
    color: #9B9B9B;
}

/*section-3*/

.section-3{
    margin-bottom: 45px;
    margin-left: 50px;
    margin-right: 50px;
}

.left{
    border: 1px solid #e1e1e1;
    display: flex;
    overflow: hidden;
}

.left img{
    width: 1015px;
    height: 397px;
}


.left h3{
    margin-bottom: 10px;
}

.right{
    padding-left: 50px;
    padding-top: 70px;
}

.right h4{
    padding-bottom: 10px;
    color: #9b9b9b;
    }

    .right p{
        color:#9b9b9b ;
    }

button{ 
    cursor: pointer;
    font-size: 16px;
    line-height: 1.34;
    border: 2px solid;
    margin-top: 25px;
    min-width: 170px;
    padding: 17px 28px 15px;
    background: white;
    }

    button:hover{
    color: #ffffff;
    background-color: #1c79e1;
    border-color: #1c79e1;
}

.right{
    position: relative;
}


.diniro-1{
    position: absolute;
    width: 108px;
    height: 40px;
    right: 580px;
    top: -1px;
    background: #f19321;
    border: 1px solid #000000;
    padding-left: 15px;
    padding-top: 10px;
    border: 5px;
}


#customers  h4{
    text-align: center;
    padding-top: 30px;
    color: #0E165F;
    font-weight: 800;
    font-size: 25px;
    line-height: 60px;
}

#customers  span{
    color: #1c79e1;
    font-weight: 800;
    font-size: 25px;
    line-height: 60px;
    padding-bottom: 35px;

}

/*section-4*/

.section-4{
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
    background: #D9D9D9;
    padding-bottom: 18px;
    margin-top: 23px;
}

.profile{
    flex-basis: 260px;
    margin-top: 25px;
}


.profile .profile-img{
    height: 260px;
    width: 260px;
    border-radius: 50%;  
}

.profile h5{
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3px;
    color: #110505;
}

.profile p{
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
}
/*section-5*/

.section-5{
    background-image: url(images/Untitled.png);
    background-size: cover;
    background-size: cover;
    margin-left: 45px;
    height: 330px;
    margin-top: 16px;
    width: 1189px;
}
    

.box {
    display: flex;
    justify-content: space-around;
    padding-top: 114px;
    color: white;
    font-size: 25px;
}

.footer {
    background-color: white;
    padding: 70px 0;
    }

    .content-1{
        max-width: 1170px;
margin: auto;
}

.row{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

ul{
    list-style: none;
}


.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    color: #5E6282;
    font-weight: 500;
}

.footer-col h4 {
    font-size: 18px;
    color: #030000;
    text-transform: capitalize;
    margin-bottom: 35px;
    text-shadow: 2px 2px lightgray;
}

.footer-col ul li {
    margin-bottom: 10px;
                
}

.footer-col p{
    color: #5E6282;
    font-weight: 500      
}

.footer p{
    text-align: center;
    margin-top: 30px;
}


.social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(191, 31, 31, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.social-links h4{
    font-size: 18px;
    color: #030000;
    text-transform: capitalize;
    margin-bottom: 35px;
}
.footer .social-links a:hover {
    color: #000d11;
    background-color: #1c79e1;
}

.footer-col ul li a:hover {
    color: #1c79e1;


}

.footer .text{
    text-align: center;
}


/* @media header*/

@media (max-width: 952px){
    header .logo{
    font-size: 30px;
    padding-left: 50px;
    }

.left{
    flex-wrap: wrap;
}

}

/* @media section-4*/

@media only screen and (max-width:1150px){
    .section-4{
        flex-direction: column;
    }
    button{
        margin-bottom: 18px;
    }

    .diniro-1{
        right: -1px;
        top: -397px;
    }


.profile{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.profile p{
    text-align: center;
    margin: 20px 60px 80px 60px;
    font-size: 20px;
}





@media only screen and (max-width:900px)  {
    #customers h4{
        text-align: center;
        font-size: 15px;
    }

.footer-col{
        width: 100%;
    }

    #customers span{
        text-align: center;
        font-size: 15px;
    }

    .section-4{
        margin: 20px 0;
    }

    .profile p{
        margin: 20px 10px 80px 10px;
    }
    }
/* @media header*/
    header {
            width: 100%;
    display: flex;
padding: 0;
    
    padding-top: 40px;
    padding-right: 20px;
    justify-content: space-between;
}
    header .logo{
        padding-left: 14px;
        width: 114px;
        height: 58px;
}

.navigation a{
        font-size: 16px;
}

.left img {
        background-size: cover;
}    
        
.right {
    padding-top: 40px;
}

}
@media only screen and (max-width: 600px) {
.container {
background-image: url(images/Background\ hero.png);
    height: 650px;
    background-size: cover;
}
.section-1 {
    padding: 100px 200px;
    padding: 0;
    font-size: 14px;
    padding-left: 40px;
    padding-top: 120px;
    margin-top: 40px;

}
.section-1 span {
font-size: 22px;
line-height: 1.4; }

.section-1 .btn-1 { 
    border-radius: 6px;
    width: 193px;
    height: 63px;
    top: 370px;
    left: 40px;
    background: #DF5151;
    border: none;
    position: absolute;
    font-size: 13px;
    font-weight: 900;
    color: white;
}

.section-5 {
background-image: none;
}
.section-5 .box {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 0;
}
.section-5 .box span {
    background-color: #035db5;
    width: 200px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}
}
@media only screen and (max-width: 300px) {
    .right p {
        line-height: 2;
        font-size: 10PX;
    }
} 

    /* Footer Responsive*/
    @media(max-width: 900px){
    .footer .row{
    margin-left: 20px;
    margin-right: 20px;
}

.footer p{
    text-align: inherit;
}

    .footer .text{
    text-align: center;
    padding-right: 140px;
}
}
    @media(max-width: 800px){
    .footer .row{
    flex-direction: column;
}

.section-1 span {
    font-size: 23px;
}
}

